.container {
  margin-top: -20px;
  margin-left: 44px;
  margin-right: 60px;
  max-width: 1344px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

app-city2 {
  padding-left: 16px;
  padding-top: 20px;
}
