/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic-ext');

@font-face {
  font-family: 'SF UI Display';
  src: url('assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('assets/fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import 'nullstyle.scss';

body {
  font-family: 'Roboto', sans-serif;
}
